.col-xs-6, .col-sm-8, .col-sm-4{
  height: 300px;
  border: 1px solid #000;
}

.col-sm-4, .col-sm-8 {
  height: 200px;
  border: 1px dashed #000;
}
.col-sm-6, .col-md-8 {
  height: 300px;
  border: 1px dashed #000;
}
.red{
  background-color: red;
  }

  .grey{
    background-color #eee;
  }
